<h2 id="tool-detail-heading"><%= toolDetails.toolName %></h2>

<p><%= toolDetails.description %> </p>
<div><img class="toolimg" src=<%= toolDetails.img %>></div>
<div id="download-div">
    <a href="<%= toolDetails.downloadLink %>" id="download-anchor-tag">Download</a>
</div>
<p>Rating: <%= toolDetails.rating %> </p>
<p>Number of ratings: <%= toolDetails.numberOfRatings %> </p>
<p>Number of downloads: <%= toolDetails.downloads %></p>
<p>In the database since: <%= formattedDate %></p>



<% if (isLoggedIn) { %>
<form action="/tools/detail/<%= toolDetails._id %>/rate" method="POST">
    <label> Rating</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="submit">Rate</button>
</form>
<% } %>
<% if (isOwner) { %>
    <button type="submit"><a href="/tools/detail/<%= toolDetails._id %>/edit">Edit</a></button>
    <form action="/tools/detail/<%= toolDetails._id %>/delete" method="POST">
        <button type="submit">Delete</button>
        </form>
<% } %>


