<h1 class="page-heading">Welcome to your profile, <%= user.username %>!</h1>
<h2 >Your tools</h2>
<% data.forEach( tool => { %>
    <div class="card">
        <img class= "tool-icon" src=<%= tool.img%> alt="the tool's logo">
        <p id="tool-name"> <%= tool.toolName %> </p>
        <button><a href="../tools/detail/<%= tool._id %>">Show details</a></button>
    </div>
    <% }) %> 

<button id="create-new-tool-button"><a href="../tools/detail/add">Create new tool</a></button>

   
<% if (typeof errorMessage !== "undefined") { %> <%= errorMessage %> <% } %>